<div class="pull_HN_page">
	<h1>Hacker News currently on the front page</h1>
	<div class="figures">
		<h3>These are the statistics scores for this set of Hacker News:</h3>
		<div class="value">Mean: <%= sprintf("%.2f", @mean_value) %></div>
		<div class="value">Median: <%= @median_value %></div>
		<div class="value">Mode: <%= @mode_value %></div>
	</div>	
	<%= render :partial => "send_HN_email" %>
	<%= render :partial => "hacker_news_table" %>
</div>
